In [1]:
# import libraries
import pandas as pd

In [2]:
# initialize dataframe
df = pd.read_csv('./assets/Tokyo Medals 2021.csv')
df.head()

,Country,Gold Medal,Silver Medal,Bronze Medal,Total,Rank By Total
0,United States of America,39,41,33,113,1
1,People's Republic of China,38,32,18,88,2
2,Japan,27,14,17,58,5
3,Great Britain,22,21,22,65,4
4,ROC,20,28,23,71,3